html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:#ffa366;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

#tools{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool{
    margin: 0 10px 0 10px;
}

#canvas{
    justify-content: center;
    background-color: white;
}
#color-picker{
    right: 0%;
    width: 10%;
    right: 0;
    display: flex;
    flex-direction: column
}
